.demos {
  text-align: right;
  margin: 15px 0 0;

  select {
    font-size: 1.2em;
    margin: 0 2%;
  }

  article { text-align: left; }

  h1 { margin: 0 2%; }

  iframe {
    width: 100%;
    height: 700px;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px 1px #ddd;
    background: #fff;
  }
}