.index {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
    margin: 5px 0.5%;
    padding: 10px 1%;
    width: 97%;

    @media (min-width: 600px) { width: 46%; }
    @media (min-width: 800px) { width: 23%; }
  }

  img {
    width: 100%;
    margin-bottom: 5px;
  }

  a { color: #333; }
  a:hover { opacity: 0.7; }
}