# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{html,js,scss}]
charset = utf-8
indent_style = tab
indent_size = 2

[*.{md,markdown,yml}]
indent_style = spaces
indent_size = 2
