# Jekyll and Ruby specific.
.sass-cache
_site/
Gemfile.lock

# Bundler related.
.bundle/
vendor/bundle/

# Node.js and NPM related.
node_modules/

# Other.
*.orig
*.core
*.rej
*~
*.swp
*.log
*.tmp
*.bak
.*\#.*\#$

# OS garbage.
Thumbs.db
.DS_Store

# IntelliJ IDEA.
.idea/

# Project specific.
_scripts/thumbnails/
