---
layout: default
permalink: /alphabetical/
---

{% assign titles = site.posts | map: 'title' %}
{% assign lowercase_titles = '' | split: ',' %}

{% for title in titles %}
  {% assign lowercase_title = title | downcase %}
  {% assign lowercase_titles = lowercase_titles | push: lowercase_title %}
{% endfor %}

{% assign sorted_titles = lowercase_titles | sort %}

<main class='index'>
  <ul>
    {% for title in sorted_titles %}
      {% for post in site.posts %}
        {% assign lowercase_title = post.title | downcase %}
        {% if lowercase_title == title %}

          <li>
            <a href='{{ site.baseurl }}{{ post.url }}'>
              <img src='{{ site.baseurl }}/thumbnails/{{ post.thumbnail }}'>
              <div>{{ post.title }}</div>
            </a>
          </li>

        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</main>
