---
layout: default
permalink: /authors/
---

{% assign author_groups = site.posts | group_by: 'author' | sort: 'name' %}

<main class="index authors">
  {% for author_group in author_groups %}
    <h2>{{ author_group.name }}</h2>
    <ul>
      {% for post in author_group.items %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ site.baseurl }}/assets/placeholder.png"
               data-echo="{{ post.thumbnail | prepend: '/thumbnails/' | prepend: site.cdn }}">
          <div>{{ post.title }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</main>
