---
layout: default
---
<main class='post'>
  <section class='thumbnail-wrapper'>
    <img src='{{ site.baseurl }}/thumbnails/{{ page.thumbnail }}' class='thumbnail'>
  </section>
  <section>
    <h1>{{ page.title }}</h1>
    <dl>
      <dt>Author:</dt>
      <dd>{{ page.author }}</dd>
      <dt>License:</dt>
      <dd>{{ page.license }}</dd>
    </dl>
    <nav>
    {% if page.homepage %}
      <a class='btn' href='{{ page.homepage }}'>
        <i class='glyphicon glyphicon-home'></i> Homepage
      </a>
    {% endif %}
    {% if page.download %}
      <a class='btn' href='{{ page.download }}'>
        <i class='glyphicon glyphicon-download-alt'></i> Download
      </a>
    {% endif %}
    {% if page.demo %}
      <a class='btn' href='{{ page.demo }}'>
        <i class='glyphicon glyphicon-road'></i> Demo
      </a>
    {% endif %}
    {% if page.license_link %}
      <a class='btn' href='{{ page.license_link }}'>
        <i class='glyphicon glyphicon-file'></i> License
      </a>
    {% endif %}
    </nav>
  </section>
  <hr />
  <article>
    {{ content }}
  </article>
</main>
