---
layout: default
---

<main class="post">
  <section class="thumbnail-wrapper">
    <img src="{{ page.thumbnail | prepend: '/thumbnails/' | prepend: site.baseurl }}" class="thumbnail">
  </section>
  <section>
    <h1>{{ page.title }}</h1>
    <dl>
      {% if page.author %}
        <dt>Author:</dt>
        <dd>{{ page.author }}</dd>
      {% endif %}
      {% if page.license %}
        <dt>License:</dt>
        <dd>{{ page.license }}</dd>
      {% endif %}
    </dl>
    <nav>
    {% if page.homepage %}
      <a class="btn" href="{{ page.homepage }}">
        <i class="glyphicon glyphicon-home"></i> Homepage
      </a>
    {% endif %}
    {% if page.download %}
      <a class="btn" href="{{ page.download }}">
        <i class="glyphicon glyphicon-download-alt"></i> Download
      </a>
    {% endif %}
    {% if page.demo %}
      <a class="btn" href="{{ page.demo }}">
        <i class="glyphicon glyphicon-road"></i> Demo
      </a>
    {% endif %}
    {% if page.license_link %}
      <a class="btn" href="{{ page.license_link }}">
        <i class="glyphicon glyphicon-file"></i> License
      </a>
    {% endif %}
    </nav>
  </section>
  <div class="chevrons">
    <i class="glyphicon glyphicon-chevron-left"
       onclick="previous('{{ page.title }}')"></i>
    <i class="glyphicon glyphicon-chevron-right"
       onclick="next('{{ page.title }}')"></i>
  </div>
  <hr />
  <article>
    {{ content }}
  </article>
</main>